
*.iml
*.xml
.DS_Store


Course Planner/.idea/

Course Planner/__pycache__/

F1 Manager Data/.idea/
personal-projects/race_telemetry/Logs/*.json

.idea/
personal-projects/Formula 1/Contract Post Week 1.xlsx
personal-projects/Formula 1/cache/*/*/*/*.ff1pkl
personal-projects/Formula 1/cache/fastf1_http_cache.sqlite

race_telemetry/.databrickscfg
race_telemetry/motion/*.json
race_telemetry/*/*.json
